


<div class="container">
  <div class="row">


    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation" class= "active"><%= link_to"全部餐廳", root_path %></li>
      <% @categories.each do |category|%> 
      <li role = "presentation"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  
    <div class="input-group">
      <%= form_tag restaurants_path, method: :get do%>
        <%= text_field_tag :search ,params[:search],placeholder:"Enter text.."%>
        <%= submit_tag "搜尋"  ,name: nil,class: "btn btn-danger dropdown-toggle"%>
        <%end%>
    </div>


      


    <!-- restaurants list，有多寫restaurant-item的class style -->
    <%= render partial: "shared/restaurant_list" %>
      
  </div>
</div>